.hidden {
  display: none;
}

a.dashed {
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px dashed #333;
}

#wrapper {
  width: 75%;
  min-width: 1030px;
  margin: 0 auto;
}

#navigation, #navigation li, #user_menu li {
  display: inline-block;
}

#navigation li.active a, #user_menu li.active a {
  color: red;
}

#user_menu {
  float :right;
}

form.quest .organizers {
  margin-left: 25%;
  margin-bottom: 20px;
  width: 72%;
}

form.formtastic fieldset {
  overflow: visible;
}

form.formtastic ul.form_errors {
  color: red;
  margin: 15px 0 15px 25%;
}

form.formtastic fieldset ol li input[type=text],
form.formtastic fieldset ol li input[type=email],
form.formtastic fieldset ol li input[type=password] {
  width: 400px;
}

form.formtastic fieldset ol li.text textarea {
  width: 400px;
  height: 100px;
}

#password_section {
  background-color: #ddd;
  padding: 15px 0 0 10px;
  margin: 10px 0;
}

.comment {
  padding: 5px;
  list-style-type: none;
}

.odd {
  background-color: #ddd;
}