.hidden {
  display: none;
}

a.dashed {
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px dashed #333;
}

#wrapper {
  width: 80%;
  min-width: 1030px;
  margin: 0 auto;
}

#navigation, #navigation li, #user_menu li {
  display: inline-block;
}

#navigation li.active a, #user_menu li.active a {
  color: red;
}

#user_menu {
  float :right;
}

form.quest .organizers {
  margin-left: 25%;
  margin-bottom: 20px;
  width: 72%;
}

#password_section {
  background-color: #ddd;
  padding: 15px 0 0 10px;
  margin: 10px 0;
}
